.fCC-Bold-sA {
  font-size: 12px;
}

.fCC-Bold-sB {
  font-size: 14px;
}

.fCC-Bold-sC {
  font-size: 16px;
}

.fCC-Bold-sD {
  font-size: 18px;
}

.fCC-Bold-sE {
  font-size: 20px;
}

.fCC-Bold-sF {
  font-size: 22px;
}

.fCC-Bold-sG {
  font-size: 24px;
}

// font size [Roboto-Bold] ==== End
// font size [Roboto-Medium] ==== Start
.fCC-Medium-sA {
  font-size: 16px;
  font-family: Roboto-Medium;
}

.fCC-Medium-sB {
  font-size: 18px;
  font-family: Roboto-Medium;
}

.fCC-Medium-sC {
  font-size: 20px;
  font-family: Roboto-Medium;
}

// font size [Roboto-Medium] ==== End
// font size [Roboto-Regular] ==== Start
.fCC-Regular-sA {
  font-size: 16px;

}

.fCC-Regular-sB {
  font-size: 18px;

}

.fCC-Regular-sC {
  font-size: 20px;

}

.fCC-Regular-sD {
  font-size: 24px;

}

.fCC-Regular-sE {
  font-size: 32px;

}

// font size [Roboto-Regular] ==== End
// font size [Roboto-Light] ==== Start
.fCC-Light-sA {
  font-size: 18px;
  font-family: Roboto-Light;
}

.fCC-Light-sB {
  font-size: 20px;
  font-family: Roboto-Light;
}

// font size [Roboto-Light] ==== End
// validation custom fonts
.fCC-Regular-sF {
  font-size: 14px;

}
