// START === Icons
// side-menu icons
.iCC-Contact-Icon-logo {
  background-image: url(../assets/icon/store.svg) !important
}

.iCC-Contact-Icon-user {
  background-image: url(../assets/icon/multiple-users-silhouette.svg) !important
}

.iCC-Contact-Icon-profile {
  background-image: url(../assets/icon/user.svg) !important
}

.iCC-Contact-Icon-shopping-bag {
  background-image: url(../assets/icon/shopping-bag.svg) !important
}

.iCC-Contact-Icon-right-arrow {
  background-image: url(../assets/icon/right-arrow.svg) !important
}

.iCC-Contact-Icon-heart {
  background-image: url(../assets/icon/heart.svg) !important
}

.iCC-Contact-Icon-cart {
  background-image: url(../assets/icon/cart.svg) !important
}

.iCC-Contact-Icon-add-cart {
  background-image: url(../assets/icon/add-to-cart.svg) !important
}

.iCC-Contact-Icon-plus {
  background-image: url(../assets/icon/plus.svg) !important
}

.iCC-Contact-Icon-incorrect {
  background-image: url(../assets/icon/incorrect.svg) !important
}

.iCC-Contact-Icon-logout {
  background-image: url(../assets/icon/logout.svg) !important
}

.iCC-Contact-Icon-remove {
  background-image: url(../assets/icon/rubbish-bin.svg) !important
}

.iCC-Contact-Icon-remove-all {
  background-image: url(../assets/icon/remove-bin.svg) !important
}


// START === Background Holder
.iCC-Background-Cover {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important
}

.iCC-Background-Contain {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}
