.item-width {
  height: 450px !important;
}
i{
  width: 30px ;
  height: 30px ;
}
.img-width {
  height: 300px !important;
  width: 100%;
}
.description {
  height: 90% !important;
}
.modal-dialog{
  max-width: 100% !important;
  margin: auto;
  justify-content: center;
}
.modal-content {
  max-width: var(--bs-modal-width);
  max-width:50% !important;
  max-height:50% !important;
}
