i {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.cart {
  width: 100px;
  height: 100px;
}

.cart-div {
  height: 400px;
  background: linear-gradient(120deg, #9198e5, #e66465) !important;
}

.item-img {
  width: 70px;
  height: 70px;
}

.box-cart {
  width: 80%;
}
