<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="row container px-0 login rounded-5 cCC-bg-Light-White">
      <!-- form for Login -->
      <div class="col-md-6 text-center d-flex flex-column h-100 justify-content-center">
          <router-outlet></router-outlet>
          <div class="mt-1">
              <p class="m-0 fCC-Bold-sA cCC-text-Light-Red-color" class="Our position-relative">Our Continue With</p>
              <a href="https://www.google.com/"><i class="me-3 text-danger fs-1 fa-brands fa-google"></i></a>
              <a href="https://www.apple.com/eg-ar/iphone/"><i class="mx-5 fs-1 text-dark fa-brands fa-apple"></i></a>
              <a href="https://www.facebook.com/"><i class="ms-3 fa-brands fs-1 fa-facebook"></i></a>
          </div>
      </div>
      <div class="col-md-6  px-0">
          <!-- img for login component -->
          <img class="w-100 h-100 rounded-5" src="../../../assets/img/istockphoto-1040931786-612x612.jpg" alt="">
      </div>
  </div>
</div>
